

#landingContainer {
  width: 490px;
  height: auto;
  margin: 0 auto;
  /*background-color: #C0D890;*/
}


/*.no-close .ui-dialog-titlebar-close {
  display: none;
}*/

.moleGrass {
  float: left;
  /*display: inline-block;*/
  width: 120px;
  height: 40px;
  /*content: "";*/
  background-color: #C0D890;
}

.moleShow {
  float: left;
  width: 120px;
  height: 40px;
  background-color: #C0D890;
  background-size: 80px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/caddy.png")

}

.score {
  border: 1px solid grey;
  display: inline-block;
  width: 48%;
}



#timeRemaining {
  text-align: center;
}
