#landingContainer {
  border: 1px solid red;
  width: 500px;
  margin: 0 auto;
}

.moleGrass {
  /*display: inline-block;*/
  float: left;
  width: 120px;
  height: 40px;
  background-color: green;
}

.moleShow {
  float: left;
  width: 120px;
  height: 40px;
  background-color: red;
  background-size: 80px 60px;
  background-repeat: no-repeat;
  background-image: url("../img/mole.jpeg")

}

.score {
  border: 1px solid grey;
}

.molePatch {
  border: 1px solid purple;
  border-radius: 30px;
}
